header {
  background-color: rgba(0, 123, 239) !important;
  padding: 2rem 3rem !important;
}
body {
  color: #202020;
}
table {
  border-collapse: collapse;
  box-shadow: 0 0.7rem 1.2rem #e1e5ee;
  text-align: left;
  overflow: hidden;
  width: 100%;
}
.listimg {
  height: 22.5rem;
  display: block;
}
thead {
  box-shadow: 0 0.7rem 1.2rem #e1e5ee;
}
.btn {
  border: none;
  background-color: rgb(0, 123, 239);
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1.3rem;
  border-radius: 0.4rem;
  transition: all 200ms;
  display: inline-block;
  font-family: Inter;
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
.selecter {
  font-size: 1.2rem;
  padding: 1.2rem;
  font-family: Inter;
}
.filter {
  margin: 3rem auto;
}
th {
  text-align: center;
  padding: 2rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 900;
}
td {
  padding: 2rem 3rem;
}
td:not(.desc) {
  text-align: center;
}
.liststatus {
  border-radius: 0.6rem;
  padding: 1.1rem 1.4rem;
  text-align: center;
  background-color: #c8e6c9;
  color: #388e3c;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  align-content: center;
  margin-left: 2rem;
}
tr:nth-child(even) {
  background-color: #f4f6fb;
}
p {
  font-weight: 600;
  font-size: 1.1rem;
}
a {
  color: #4f546c;
  font-weight: 800;
  font-size: 1.1rem;
}
form {
  display: inline;
}

td > form {
  display: inline-block;
  padding: 1.1rem 1.4rem;
  align-items: center;
  align-self: center;
  text-align: center;
}

.form-group {
  margin: 5rem auto;
  margin-left: 4rem;
}
form:not(:last-child) {
  margin-right: 2rem;
}
.remove-list-btn {
  margin-top: 10px;
  border-radius: 0.6rem;
  padding: 1.1rem 1.4rem;
  text-align: center;
  background-color: #cd5c5c;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.btn2 {
  border: none;
  background-color: rgb(0, 123, 239);
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1.3rem;
  border-radius: 0.4rem;
  transition: all 200ms;
  display: inline-block;
  font-family: Inter;
}
.btn2:focus::placeholder {
  transition: color 1s ease-in-out;
  color: rgb(0, 123, 239);
}
.btn2:focus {
  outline: none;
}
.btn2::placeholder {
  color: #fff;
}
.btn2::placeholder {
  color: black;
}
.select4 {
  border: none;
  background-color: rgb(0, 123, 239);
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1.3rem;
  border-radius: 0.4rem;
  transition: all 200ms;
  display: inline-block;
  font-family: Inter;
}
.selectBtn {
  margin-left: 2px;
  border: none;
  background-color: #c8e6c9;
  color: #388e3c;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  transition: all 200ms;
  display: inline-block;
  font-family: Inter;
}
.selDel {
  margin-left: -17px;
  margin-right: 1.5rem;
  border: none;
  background-color: #cd5c5c;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  transition: all 200ms;
  display: inline-block;
  font-family: Inter;
}
.filter2 {
  display: block;
  margin-bottom: 3rem;
}
.select4 {
  margin-right: 1.5rem;
}
#newlist1::placeholder {
  color: #fff;
}

select {
  width: 24rem;
  text-align: left;
}

select:focus {
  outline: none;
}
