@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Inter";
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
